
{% extends "main.html"  %}

{% block contiainer %}

<h3>username: {{ data.user}}</h3>
<h3>Venue name: {{ data.venue_name}}</h3>
<h3>Event type: {{ data.EventType}}</h3>
<h3>Date: {{ data.date}}</h3>
<h3>break fast: {{ data.breakfast}}</h3>
<h3>lunch: {{ data.lunch}}</h3>
<h3>Tea and snacks: {{ data.TeaSnacks}}</h3>
<h3>Dinner: {{ data.dinner}}</h3>
<h3>Non Veg: {{ data.Nonveg}}</h3>
<h3>Number of Guests: {{ data.NoofGuest}}</h3>
<h3>Decoration: {{ data.Decoration}}</h3>
<h3>Amount:{{ data.Amount}}</h3>

{% endblock %}