<!DOCTYPE html>
<html lang="en">
<head>
    <title>Home</title>
    <link rel="stylesheet" href="style.css">
<style>
    @import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
    body{
        margin: 0%;
        font-family: 'Open Sans';
    }
</style>
</head>
<body>
    {% include "nav1.html"  %}
    
    <div>

        {% block contiainer %}

        {% endblock %}
        
    </div>
    <div style="text-align: center; color: red;">

        {% for message in messages %}

        {{ message }}
    
        {% endfor %}

    </div>
</body>
</body>
</html>